/* reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col-xs-12 {
    background-color: #7c6392;
    height: 30px;
}


