/* reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* i container sono definiti da Bootstrap
*/

.col-xs-12 {
    background-color: #7c6392;
    height: 30px;
}

.container {
    margin: auto;
    /* width: 100%;  lo setta già Bootstrap*/
}

nav {
    height: 80px;
}

footer{
    height: 160px;
}

.box{
    background-color: blue;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* classi per il bg-color */
.darker {
    background-color: rgb(44, 62, 80);
}

.dark {
    background-color: rgb(58, 84, 109);
}

.green {
    background-color: rgb(26, 188, 156);
}


/* .col-xs-12 è il comportamento di default */